In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

## Cat in the Dat

In [2]:
df = pd.read_csv('C:/Users/Yatha/OneDrive/Documents/Sem VI/AOML/cat-in-the-dat-ii/train.csv')
df.head()

,id,bin_0,bin_1,bin_2,bin_3,bin_4,nom_0,nom_1,nom_2,nom_3,...,nom_9,ord_0,ord_1,ord_2,ord_3,ord_4,ord_5,day,month,target
0,0,0.0,0.0,0.0,F,N,Red,Trapezoid,Hamster,Russia,...,02e7c8990,3.0,Contributor,Hot,c,U,Pw,6.0,3.0,0
1,1,1.0,1.0,0.0,F,Y,Red,Star,Axolotl,NaN,...,f37df64af,3.0,Grandmaster,Warm,e,X,pE,7.0,7.0,0
2,2,0.0,1.0,0.0,F,N,Red,NaN,Hamster,Canada,...,NaN,3.0,NaN,Freezing,n,P,eN,5.0,9.0,0
3,3,NaN,0.0,0.0,F,N,Red,Circle,Hamster,Finland,...,f9d456e57,1.0,Novice,Lava Hot,a,C,NaN,3.0,3.0,0
4,4,0.0,NaN,0.0,T,N,Red,Triangle,Hamster,Costa Rica,...,c5361037c,3.0,Grandmaster,Cold,h,C,OZ,5.0,12.0,0

In [3]:
df.columns

Index(['id', 'bin_0', 'bin_1', 'bin_2', 'bin_3', 'bin_4', 'nom_0', 'nom_1',
       'nom_2', 'nom_3', 'nom_4', 'nom_5', 'nom_6', 'nom_7', 'nom_8', 'nom_9',
       'ord_0', 'ord_1', 'ord_2', 'ord_3', 'ord_4', 'ord_5', 'day', 'month',
       'target'],
      dtype='object')

In [4]:
# Ordinal Encoding
for col in df.columns:
    if col.startswith('ord'):
        print(col, df[col].unique())
        print()

ord_0 [ 3.  1.  2. nan]

ord_1 ['Contributor' 'Grandmaster' nan 'Novice' 'Expert' 'Master']

ord_2 ['Hot' 'Warm' 'Freezing' 'Lava Hot' 'Cold' 'Boiling Hot' nan]

ord_3 ['c' 'e' 'n' 'a' 'h' 'b' 'd' 'k' 'g' 'o' 'i' 'm' nan 'f' 'l' 'j']

ord_4 ['U' 'X' 'P' 'C' 'Q' 'R' 'Y' 'N' 'I' 'O' 'M' 'E' 'V' 'K' 'G' 'B' 'H' nan
 'T' 'W' 'A' 'F' 'D' 'S' 'J' 'L' 'Z']

ord_5 ['Pw' 'pE' 'eN' nan 'OZ' 'wa' 'rg' 'PS' 'mX' 'hG' 'xF' 'RV' 'Nh' 'dp' 'SS'
 'OM' 'Rv' 'HF' 'iS' 'HK' 'Ib' 'AW' 'mi' 'jf' 'Tz' 'ok' 'nS' 'Sz' 'sf'
 'Fl' 'fV' 'iv' 'US' 'dh' 'Io' 'RD' 'oI' 'DN' 'IS' 'oh' 'YJ' 'vq' 'us'
 'sY' 'th' 'Ey' 'AI' 'Mg' 'oU' 'Dj' 'TH' 'CN' 'aA' 'tT' 'Wr' 'TZ' 'mo'
 'rM' 'Pk' 'UV' 'RT' 'DT' 'Hk' 'Dn' 'nj' 'gL' 'cy' 'JT' 'XC' 'lA' 'TL'
 'zp' 'XM' 'AG' 'WW' 'GZ' 'MV' 'Bx' 'oJ' 'ze' 'Rj' 'LY' 'Iq' 'gc' 'LS'
 'hx' 'JQ' 'fO' 'vx' 'MX' 'ly' 'BX' 'Yr' 'XR' 'yE' 'Sk' 'aE' 'wU' 'rA'
 'Ji' 'qN' 'nn' 'kv' 'pB' 'sc' 'EC' 'kT' 'be' 'uQ' 'DI' 'hT' 'pl' 'tn'
 'xG' 'NT' 'fe' 'lS' 'Mq' 'Yi' 'BL' 'AU' 'ht' 'Ro' 'al' 'mD' 'ur' 'DR'
 'Re' 'XI' 'sF' 'Rz' 'Lo' 'In' 'Kq' 'cY' 'uZ' 'rl' 'zc' 'XU' 'CU' 'lR'
 'xB' 'pT' 'gj' 'Ox' 'yK' 'vw' 'Ay' 'HO' 'TP' 'ep' 'ne' 'Oe' 'mP' 'cR'
 'IA' 'QV' 'Ty' 'qP' 'gK' 'wJ' 'cg' 'zf' 'WC' 'NS' 'Yb' 'kB' 'MU' 'kP'
 'FH' 'fF' 'jp' 'gt' 'Qm' 'Cn' 'pZ' 'nf' 'ja' 'Tg' 'uP' 'uW' 'FB' 'uI'
 'MF' 'RB' 'SL' 'PG' 'vQ' 'eA' 'gV' 'Zv']

In [5]:
# ord_0 is already ordinal

ord_1_label_map = {
    "Novice": 0,
    "Contributor": 1,
    "Expert": 2,
    "Master": 3,
    "Grandmaster": 4
}

df["ord_1_ordered_mapping"] = df["ord_1"].map(ord_1_label_map)

ord_2_label_map = {
    "Freezing": 0,
    "Cold": 1,
    "Warm": 2,
    "Hot": 3,
    "Boiling Hot": 4,
    "Lava Hot": 5
}

df["ord_2_ordered_mapping"] = df["ord_2"].map(ord_2_label_map)

def alphabetical_ordering(col):
    col = list(col.unique())
    col.remove(np.nan)
    col.sort()
    return {k: i for i, k in enumerate(col)}

# Sorting categories alphabetically
ord_3_label_map = alphabetical_ordering(df["ord_3"])
df["ord_3_ordered_mapping"] = df["ord_3"].map(ord_3_label_map)

ord_4_label_map = alphabetical_ordering(df["ord_4"])
df["ord_4_ordered_mapping"] = df["ord_4"].map(ord_4_label_map)

ord_5_label_map = alphabetical_ordering(df["ord_5"])
df["ord_5_ordered_mapping"] = df["ord_5"].map(ord_5_label_map)

In [6]:
df.head()

,id,bin_0,bin_1,bin_2,bin_3,bin_4,nom_0,nom_1,nom_2,nom_3,...,ord_4,ord_5,day,month,target,ord_1_ordered_mapping,ord_2_ordered_mapping,ord_3_ordered_mapping,ord_4_ordered_mapping,ord_5_ordered_mapping
0,0,0.0,0.0,0.0,F,N,Red,Trapezoid,Hamster,Russia,...,U,Pw,6.0,3.0,0,1.0,3.0,2.0,20.0,56.0
1,1,1.0,1.0,0.0,F,Y,Red,Star,Axolotl,NaN,...,X,pE,7.0,7.0,0,4.0,2.0,4.0,23.0,150.0
2,2,0.0,1.0,0.0,F,N,Red,NaN,Hamster,Canada,...,P,eN,5.0,9.0,0,NaN,0.0,13.0,15.0,105.0
3,3,NaN,0.0,0.0,F,N,Red,Circle,Hamster,Finland,...,C,NaN,3.0,3.0,0,0.0,5.0,0.0,2.0,NaN
4,4,0.0,NaN,0.0,T,N,Red,Triangle,Hamster,Costa Rica,...,C,OZ,5.0,12.0,0,4.0,1.0,7.0,2.0,50.0

In [7]:
# Filling missing values
for col in df.columns:
    if col.startswith('ord') or col.startswith('nom'):
        df[col] = df[col].fillna('UNKNOWN')

In [8]:
ord_1_freq = df["ord_5"].value_counts()
df["ord_5_frequency"] = df["ord_5"].map(ord_1_freq)
df["ord_5_is_rare"] = df["ord_5_frequency"] < 1000

In [9]:
df['day'] = df['day'].fillna(df['day'].mode()[0])
df['month'] = df['month'].fillna(df['month'].mode()[0])

In [10]:
df["month"] = df["month"].fillna(df["month"].mode()[0]).astype(int)
df["nom_3"] = df["nom_3"].fillna(df["nom_3"].mode()[0])

df["month_and_nom_0"] = df["month"].astype(str) + "_" + df["nom_3"].astype(str)

In [11]:
import itertools

cols_for_concatenation = ["nom_1", "nom_2", "nom_3", "nom_4"]
col_combinations = list(itertools.combinations(cols_for_concatenation, 2))

col_combinations

[('nom_1', 'nom_2'),
 ('nom_1', 'nom_3'),
 ('nom_1', 'nom_4'),
 ('nom_2', 'nom_3'),
 ('nom_2', 'nom_4'),
 ('nom_3', 'nom_4')]

In [12]:
deg2_cols = []

for col_a, col_b in col_combinations:
    new_col = "{}_{}".format(col_a, col_b)
    df[new_col] = df[col_a].astype(str) + "_" + df[col_b].astype(str)
    deg2_cols.append(new_col)

In [13]:
# Feature Engineering for cyclical - sin and cos
cycle_cols = ['day', 'month']
for col in cycle_cols:
    df[col + '_sin'] = np.sin(2 * np.pi * df[col]/df[col].max())
    df[col + '_cos'] = np.cos(2 * np.pi * df[col]/df[col].max())
    df.drop(col, axis=1, inplace=True)

In [14]:
for col in df.columns:
    if col.startswith('bin'):
        df[col] = df[col].fillna(df[col].mode()[0])

In [15]:
df.drop('id', axis=1, inplace=True)

In [16]:
for col in df.columns:
    if col!='target':
        df[col] = df[col].astype('category')

In [17]:
df_train = df.copy()

df = pd.read_csv('C:/Users/Yatha/OneDrive/Documents/Sem VI/AOML/cat-in-the-dat-ii/test.csv')

In [18]:
# Ordinal Encoding
for col in df.columns:
    if col.startswith('ord'):
        print(col, df[col].unique())
        print()

ord_0 [ 3.  1.  2. nan]

ord_1 ['Novice' 'Expert' 'Contributor' 'Grandmaster' 'Master' nan]

ord_2 ['Boiling Hot' 'Cold' 'Warm' 'Hot' 'Lava Hot' 'Freezing' nan]

ord_3 ['f' 'n' 'i' 'm' 'o' 'e' 'c' 'k' 'g' 'h' 'a' 'b' 'd' nan 'l' 'j']

ord_4 ['U' 'N' 'B' 'J' 'Y' nan 'M' 'P' 'A' 'H' 'R' 'C' 'X' 'S' 'O' 'G' 'K' 'E'
 'W' 'F' 'I' 'T' 'Z' 'Q' 'D' 'L' 'V']

ord_5 ['oU' nan 'DN' 'AG' 'DT' 'th' 'RD' 'pT' 'nj' 'dp' 'mP' 'Mq' 'US' 'In' 'Mg'
 'pB' 'uQ' 'ly' 'GZ' 'EC' 'nS' 'LS' 'Pw' 'Nh' 'XR' 'FH' 'Sz' 'Tz' 'yE'
 'lA' 'fV' 'Rj' 'rM' 'zp' 'xB' 'wU' 'IS' 'XM' 'pE' 'Ey' 'Ty' 'pZ' 'RV'
 'jf' 'al' 'mi' 'qP' 'Qm' 'JT' 'TZ' 'MV' 'be' 'XU' 'cR' 'HK' 'ep' 'Ib'
 'AW' 'AU' 'Yb' 'Rz' 'MF' 'Hk' 'tn' 'sF' 'PS' 'oJ' 'gK' 'TL' 'qN' 'Ji'
 'wa' 'CN' 'JQ' 'Bx' 'cy' 'DI' 'Wr' 'dh' 'OM' 'vq' 'gc' 'rg' 'mo' 'oh'
 'Fl' 'Pk' 'iS' 'sf' 'Ro' 'uZ' 'YJ' 'CU' 'sc' 'ne' 'cY' 'gL' 'IA' 'XC'
 'Sk' 'Ay' 'zc' 'fe' 'us' 'hG' 'DR' 'Re' 'iv' 'Kq' 'BL' 'Io' 'UV' 'kT'
 'nf' 'kv' 'OZ' 'xG' 'rl' 'SS' 'Rv' 'WW' 'nn' 'lS' 'RT' 'gj' 'LY' 'ok'
 'aE' 'Lo' 'mD' 'HF' 'gt' 'QV' 'yK' 'vw' 'rA' 'TP' 'RB' 'oI' 'cg' 'FB'
 'NS' 'ze' 'TH' 'hT' 'xF' 'WC' 'eN' 'kP' 'Ox' 'vx' 'fO' 'Dn' 'Yi' 'SL'
 'fF' 'zf' 'Dj' 'hx' 'gV' 'mX' 'Iq' 'AI' 'XI' 'jp' 'uI' 'MU' 'ja' 'kB'
 'pl' 'ur' 'ht' 'MX' 'uP' 'Cn' 'aA' 'lR' 'Oe' 'sY' 'NT' 'HO' 'Yr' 'Tg'
 'wJ' 'tT' 'BX' 'uW' 'vQ' 'PG' 'eA' 'Zv']

In [19]:
# ord_0 is already ordinal

ord_1_label_map = {
    "Novice": 0,
    "Contributor": 1,
    "Expert": 2,
    "Master": 3,
    "Grandmaster": 4
}

df["ord_1_ordered_mapping"] = df["ord_1"].map(ord_1_label_map)

ord_2_label_map = {
    "Freezing": 0,
    "Cold": 1,
    "Warm": 2,
    "Hot": 3,
    "Boiling Hot": 4,
    "Lava Hot": 5
}

df["ord_2_ordered_mapping"] = df["ord_2"].map(ord_2_label_map)

def alphabetical_ordering(col):
    col = list(col.unique())
    col.remove(np.nan)
    col.sort()
    return {k: i for i, k in enumerate(col)}

# Sorting categories alphabetically
ord_3_label_map = alphabetical_ordering(df["ord_3"])
df["ord_3_ordered_mapping"] = df["ord_3"].map(ord_3_label_map)

ord_4_label_map = alphabetical_ordering(df["ord_4"])
df["ord_4_ordered_mapping"] = df["ord_4"].map(ord_4_label_map)

ord_5_label_map = alphabetical_ordering(df["ord_5"])
df["ord_5_ordered_mapping"] = df["ord_5"].map(ord_5_label_map)

In [20]:
df.head()

,id,bin_0,bin_1,bin_2,bin_3,bin_4,nom_0,nom_1,nom_2,nom_3,...,ord_3,ord_4,ord_5,day,month,ord_1_ordered_mapping,ord_2_ordered_mapping,ord_3_ordered_mapping,ord_4_ordered_mapping,ord_5_ordered_mapping
0,600000,0.0,0.0,0.0,F,Y,Blue,Polygon,Axolotl,Finland,...,f,U,oU,3.0,9.0,0.0,4.0,5.0,20.0,146.0
1,600001,0.0,0.0,0.0,F,Y,Red,Circle,Lion,Russia,...,n,N,NaN,2.0,8.0,0.0,1.0,13.0,13.0,NaN
2,600002,0.0,0.0,0.0,F,Y,Blue,Circle,Axolotl,Russia,...,i,N,DN,2.0,6.0,2.0,2.0,8.0,13.0,12.0
3,600003,1.0,0.0,0.0,F,N,Red,Polygon,Axolotl,Costa Rica,...,m,B,AG,1.0,6.0,2.0,3.0,12.0,1.0,0.0
4,600004,0.0,0.0,1.0,F,Y,Red,Circle,NaN,Finland,...,o,J,DT,3.0,3.0,1.0,5.0,14.0,9.0,14.0

In [21]:
# Filling missing values
for col in df.columns:
    if col.startswith('ord') or col.startswith('nom'):
        df[col] = df[col].fillna('UNKNOWN')

In [22]:
ord_1_freq = df["ord_5"].value_counts()
df["ord_5_frequency"] = df["ord_5"].map(ord_1_freq)
df["ord_5_is_rare"] = df["ord_5_frequency"] < 1000

In [23]:
df['day'] = df['day'].fillna(df['day'].mode()[0])
df['month'] = df['month'].fillna(df['month'].mode()[0])

In [24]:
df["month"] = df["month"].fillna(df["month"].mode()[0]).astype(int)
df["nom_3"] = df["nom_3"].fillna(df["nom_3"].mode()[0])

df["month_and_nom_0"] = df["month"].astype(str) + "_" + df["nom_3"].astype(str)

In [25]:
import itertools

cols_for_concatenation = ["nom_1", "nom_2", "nom_3", "nom_4"]
col_combinations = list(itertools.combinations(cols_for_concatenation, 2))

col_combinations

[('nom_1', 'nom_2'),
 ('nom_1', 'nom_3'),
 ('nom_1', 'nom_4'),
 ('nom_2', 'nom_3'),
 ('nom_2', 'nom_4'),
 ('nom_3', 'nom_4')]

In [26]:
deg2_cols = []

for col_a, col_b in col_combinations:
    new_col = "{}_{}".format(col_a, col_b)
    df[new_col] = df[col_a].astype(str) + "_" + df[col_b].astype(str)
    deg2_cols.append(new_col)

In [27]:
# Feature Engineering for cyclical - sin and cos
cycle_cols = ['day', 'month']
for col in cycle_cols:
    df[col + '_sin'] = np.sin(2 * np.pi * df[col]/df[col].max())
    df[col + '_cos'] = np.cos(2 * np.pi * df[col]/df[col].max())
    df.drop(col, axis=1, inplace=True)

In [28]:
for col in df.columns:
    if col.startswith('bin'):
        df[col] = df[col].fillna(df[col].mode()[0])

In [29]:
df.drop('id', axis=1, inplace=True)

In [30]:
for col in df.columns:
    if col!='target':
        df[col] = df[col].astype('category')

In [31]:
from xgboost import XGBClassifier
from sklearn.model_selection import GridSearchCV, RandomizedSearchCV
from sklearn.metrics import classification_report

X = df_train.drop('target', axis=1)
y = df_train[['target']]

xgb = XGBClassifier(enable_categorical=True, use_label_encoder=False, verbosity=0)
xgb.fit(X, y)

y_pred = xgb.predict(X)
print('Classification Report on Training Data: ')
print(classification_report(y, y_pred))
print()

print('Feature Importances: ')
feature_importances = pd.DataFrame(xgb.feature_importances_, index=X.columns, columns=['importance']).sort_values('importance', ascending=False)
print(feature_importances)

Classification Report on Training Data:
              precision    recall  f1-score   support

           0       0.91      0.99      0.95    487677
           1       0.92      0.56      0.69    112323

    accuracy                           0.91    600000
   macro avg       0.91      0.77      0.82    600000
weighted avg       0.91      0.91      0.90    600000


Feature Importances:
                       importance
bin_2                    0.120496
ord_0                    0.117296
ord_3                    0.115905
bin_0                    0.115544
ord_2                    0.094470
nom_9                    0.052331
nom_6                    0.039974
nom_5                    0.039816
ord_1                    0.037928
day_sin                  0.027611
bin_1                    0.027138
nom_8                    0.021503
nom_7                    0.020821
month_and_nom_0          0.020788
ord_5                    0.019808
nom_1_nom_4              0.018617
ord_5_frequency          0.018425
nom_1_nom_2              0.015149
ord_4                    0.014827
bin_4                    0.011454
nom_0                    0.010997
nom_2_nom_4              0.009320
nom_1_nom_3              0.005535
nom_2_nom_3              0.003445
nom_3_nom_4              0.002446
ord_5_ordered_mapping    0.002196
month_sin                0.002164
ord_4_ordered_mapping    0.002157
ord_3_ordered_mapping    0.002022
month_cos                0.001714
bin_3                    0.001515
nom_1                    0.001401
nom_2                    0.001206
nom_4                    0.001160
nom_3                    0.000951
ord_1_ordered_mapping    0.000756
ord_2_ordered_mapping    0.000490
day_cos                  0.000451
ord_5_is_rare            0.000174

In [32]:
cat_train = df_train.copy()
cat_test = df.copy()

In [33]:
param_grid = {
    'n_estimators': [100, 400, 800],
    'max_depth': [3, 6, 9]
    }

grid_search = GridSearchCV(XGBClassifier(enable_categorical=True, use_label_encoder=False, verbosity=3), param_grid, cv=2, n_jobs=-1, verbose=10)
grid_search.fit(X, y)

print('Best Parameters: ')
print(grid_search.best_params_)
print()

print('Best Estimator: ')
print(grid_search.best_estimator_)
print()

print('Best Score: ')
print(grid_search.best_score_)
print()

Fitting 2 folds for each of 9 candidates, totalling 18 fits
[22:30:24] ======== Monitor (0): HostSketchContainer ========
[22:30:24] AllReduce: 4.4e-05s, 1 calls @ 44us

[22:30:24] MakeCuts: 0.000406s, 1 calls @ 406us

[22:30:24] DEBUG: C:\buildkite-agent\builds\buildkite-windows-cpu-autoscaling-group-i-08cbc0333d8d4aae1-1\xgboost\xgboost-ci-windows\src\gbm\gbtree.cc:130: Using tree method: 0

c:\Users\Yatha\AppData\Local\Programs\Python\Python311\Lib\site-packages\xgboost\core.py:158: UserWarning: [22:30:24] WARNING: C:\buildkite-agent\builds\buildkite-windows-cpu-autoscaling-group-i-08cbc0333d8d4aae1-1\xgboost\xgboost-ci-windows\src\learner.cc:740:
Parameters: { "use_label_encoder" } are not used.

  warnings.warn(smsg, UserWarning)

[22:30:27] ======== Monitor (0): Learner ========
[22:30:27] Configure: 0.039707s, 1 calls @ 39707us

[22:30:27] EvalOneIter: 0.001584s, 100 calls @ 1584us

[22:30:27] GetGradient: 0.183761s, 100 calls @ 183761us

[22:30:27] PredictRaw: 0.001051s, 100 calls @ 1051us

[22:30:27] UpdateOneIter: 3.76914s, 100 calls @ 3769139us

[22:30:27] ======== Monitor (0): GBTree ========
[22:30:27] BoostNewTrees: 3.52203s, 100 calls @ 3522025us

[22:30:27] CommitModel: 0.000142s, 100 calls @ 142us

[22:30:27] ======== Monitor (0): HistUpdater ========
[22:30:27] BuildHistogram: 0.448872s, 200 calls @ 448872us

[22:30:27] EvaluateSplits: 0.455238s, 300 calls @ 455238us

[22:30:27] InitData: 0.223484s, 100 calls @ 223484us

[22:30:27] InitRoot: 0.753768s, 100 calls @ 753768us

[22:30:27] LeafPartition: 4.6e-05s, 100 calls @ 46us

[22:30:27] UpdatePosition: 1.67093s, 300 calls @ 1670930us

[22:30:27] UpdatePredictionCache: 0.049038s, 100 calls @ 49038us

[22:30:27] UpdateTree: 3.47076s, 100 calls @ 3470759us

Best Parameters:
{'max_depth': 3, 'n_estimators': 100}

Best Estimator:
XGBClassifier(base_score=None, booster=None, callbacks=None,
              colsample_bylevel=None, colsample_bynode=None,
              colsample_bytree=None, device=None, early_stopping_rounds=None,
              enable_categorical=True, eval_metric=None, feature_types=None,
              gamma=None, grow_policy=None, importance_type=None,
              interaction_constraints=None, learning_rate=None, max_bin=None,
              max_cat_threshold=None, max_cat_to_onehot=None,
              max_delta_step=None, max_depth=3, max_leaves=None,
              min_child_weight=None, missing=nan, monotone_constraints=None,
              multi_strategy=None, n_estimators=100, n_jobs=None,
              num_parallel_tree=None, random_state=None, ...)

Best Score:
0.8201816666666667

## Gem Classification

In [34]:
df = pd.read_csv('C:/Users/Yatha/OneDrive/Documents/Sem VI/AOML/train_a3.csv')
df.head()

   id  carat        cut color clarity  depth  table     x     y     z  price
0   0   1.52    Premium     F     VS2   62.2   58.0  7.27  7.33  4.55  13619
1   1   2.03  Very Good     J     SI2   62.0   58.0  8.06  8.12  5.05  13387
2   2   0.70      Ideal     G     VS1   61.2   57.0  5.69  5.73  3.50   2772
3   3   0.32      Ideal     G     VS1   61.6   56.0  4.38  4.41  2.71    666
4   4   1.70    Premium     G     VS2   62.6   59.0  7.65  7.61  4.77  14453

In [35]:
from sklearn.preprocessing import StandardScaler

std_scaler = StandardScaler()
df[['carat', 'depth', 'table', 'x', 'y', 'z']] = std_scaler.fit_transform(df[['carat', 'depth', 'table', 'x', 'y', 'z']])

In [36]:
df.head()

,id,carat,cut,color,clarity,depth,table,x,y,z,price
0,0,1.576255,Premium,F,VS2,0.350768,0.402496,1.401353,1.460456,1.474414,13619
1,1,2.678513,Very Good,J,SI2,0.165874,0.402496,2.113437,2.177120,2.200187,13387
2,2,-0.196003,Ideal,G,VS1,-0.573702,-0.118652,-0.022816,0.008986,-0.049710,2772
3,3,-1.017293,Ideal,G,VS1,-0.203914,-0.639801,-1.203614,-1.188477,-1.196432,666
4,4,1.965288,Premium,G,VS2,0.720555,0.923644,1.743874,1.714463,1.793754,14453

In [37]:
df["carat_interaction_depth"] = df["carat"] * df["depth"]

In [38]:
df["carat_squared"] = df["carat"] ** 2

In [39]:
df["carat_plus_depth"] = df["carat"] + df["depth"]

In [40]:
from sklearn.preprocessing import PolynomialFeatures, StandardScaler

scaled_feats = df[["carat", "depth"]]

poly_feat_creator = PolynomialFeatures(degree=2, include_bias=False)

poly_feat = poly_feat_creator.fit_transform(scaled_feats)

In [41]:
df["carat"].describe()

count    1.935730e+05
mean     2.880008e-16
std      1.000003e+00
min     -1.276648e+00
25%     -8.443899e-01
50%     -1.960028e-01
75%      5.172231e-01
max      5.855610e+00
Name: carat, dtype: float64

In [42]:
df["is_carat_low"] = df["carat"] < 0.5

df["is_carat_low"].value_counts()

is_carat_low
True     143409
False     50164
Name: count, dtype: int64

In [43]:
num_bins = int(np.floor(np.log2(df.shape[0]) + 1))

df["carat_categories"] = pd.cut(df["carat"], num_bins, labels=False)

In [44]:
df.head()

,id,carat,cut,color,clarity,depth,table,x,y,z,price,carat_interaction_depth,carat_squared,carat_plus_depth,is_carat_low,carat_categories
0,0,1.576255,Premium,F,VS2,0.350768,0.402496,1.401353,1.460456,1.474414,13619,0.552899,2.484581,1.927023,False,7
1,1,2.678513,Very Good,J,SI2,0.165874,0.402496,2.113437,2.177120,2.200187,13387,0.444295,7.174434,2.844387,False,9
2,2,-0.196003,Ideal,G,VS1,-0.573702,-0.118652,-0.022816,0.008986,-0.049710,2772,0.112447,0.038417,-0.769705,True,2
3,3,-1.017293,Ideal,G,VS1,-0.203914,-0.639801,-1.203614,-1.188477,-1.196432,666,0.207440,1.034885,-1.221207,True,0
4,4,1.965288,Premium,G,VS2,0.720555,0.923644,1.743874,1.714463,1.793754,14453,1.416099,3.862356,2.685843,False,8

In [45]:
df["cutwise_depth_mean"] = df.groupby("cut")["depth"].transform("mean")

In [46]:
df['cut'] = df['cut'].astype('category')
df['color'] = df['color'].astype('category')
df['clarity'] = df['clarity'].astype('category')
df["is_carat_low"] = df["is_carat_low"].astype('category')
df["carat_categories"] = df["carat_categories"].astype('category')

In [47]:
gem_train = df.copy()

df = pd.read_csv('C:/Users/Yatha/OneDrive/Documents/Sem VI/AOML/test_a3.csv')

In [48]:
from sklearn.preprocessing import StandardScaler

std_scaler = StandardScaler()
df[['carat', 'depth', 'table', 'x', 'y', 'z']] = std_scaler.fit_transform(df[['carat', 'depth', 'table', 'x', 'y', 'z']])

In [49]:
df.head()

,id,carat,cut,color,clarity,depth,table,x,y,z
0,193573,-0.949742,Ideal,D,VS2,0.443860,-0.645999,-1.083003,-1.066990,-1.030482
1,193574,-0.041635,Very Good,F,SI2,0.906718,-0.645999,0.106548,0.139380,0.214548
2,193575,-0.171365,Ideal,I,VS2,0.073574,-2.209394,0.052478,0.021464,0.026346
3,193576,-0.992986,Ideal,G,VVS2,-0.204141,-1.167131,-1.146086,-1.175835,-1.160776
4,193577,0.888093,Very Good,I,VS2,0.814147,-0.645999,0.935630,0.973862,1.025265

In [50]:
df["carat_interaction_depth"] = df["carat"] * df["depth"]

In [51]:
df["carat_squared"] = df["carat"] ** 2

In [52]:
df["carat_plus_depth"] = df["carat"] + df["depth"]

In [53]:
from sklearn.preprocessing import PolynomialFeatures, StandardScaler

scaled_feats = df[["carat", "depth"]]

poly_feat_creator = PolynomialFeatures(degree=2, include_bias=False)

poly_feat = poly_feat_creator.fit_transform(scaled_feats)

In [54]:
df["carat"].describe()

count    1.290500e+05
mean    -1.340148e-16
std      1.000004e+00
min     -1.274066e+00
25%     -8.416343e-01
50%     -1.929864e-01
75%      5.205262e-01
max      8.023220e+00
Name: carat, dtype: float64

In [55]:
df["is_carat_low"] = df["carat"] < 0.5

df["is_carat_low"].value_counts()

is_carat_low
True     95784
False    33266
Name: count, dtype: int64

In [56]:
num_bins = int(np.floor(np.log2(df.shape[0]) + 1))

df["carat_categories"] = pd.cut(df["carat"], num_bins, labels=False)

In [57]:
df.head()

,id,carat,cut,color,clarity,depth,table,x,y,z,carat_interaction_depth,carat_squared,carat_plus_depth,is_carat_low,carat_categories
0,193573,-0.949742,Ideal,D,VS2,0.443860,-0.645999,-1.083003,-1.066990,-1.030482,-0.421553,0.902010,-0.505882,True,0
1,193574,-0.041635,Very Good,F,SI2,0.906718,-0.645999,0.106548,0.139380,0.214548,-0.037751,0.001733,0.865083,True,2
2,193575,-0.171365,Ideal,I,VS2,0.073574,-2.209394,0.052478,0.021464,0.026346,-0.012608,0.029366,-0.097791,True,2
3,193576,-0.992986,Ideal,G,VVS2,-0.204141,-1.167131,-1.146086,-1.175835,-1.160776,0.202709,0.986020,-1.197127,True,0
4,193577,0.888093,Very Good,I,VS2,0.814147,-0.645999,0.935630,0.973862,1.025265,0.723038,0.788710,1.702240,False,3

In [58]:
df["cutwise_depth_mean"] = df.groupby("cut")["depth"].transform("mean")

In [59]:
df['cut'] = df['cut'].astype('category')
df['color'] = df['color'].astype('category')
df['clarity'] = df['clarity'].astype('category')
df["is_carat_low"] = df["is_carat_low"].astype('category')
df["carat_categories"] = df["carat_categories"].astype('category')

In [60]:
gem_test = df.copy()

In [61]:
from xgboost import XGBRegressor
from sklearn.model_selection import GridSearchCV, RandomizedSearchCV
from sklearn.metrics import mean_squared_error
from math import sqrt

X = gem_train.drop('price', axis=1)
y = gem_train[['price']]

xgb = XGBRegressor(enable_categorical=True, use_label_encoder=False, verbosity=0)
xgb.fit(X, y)

y_pred = xgb.predict(X)
print('Mean Squared Error on Training Data: ')
print(mean_squared_error(y, y_pred))
print('Root Mean Squared Error on Training Data: ')
print(sqrt(mean_squared_error(y, y_pred)))

Mean Squared Error on Training Data:
260116.51232862088
Root Mean Squared Error on Training Data:
510.01618830054883

In [62]:
# Parameter Distributions for Randomized Search on XGBoostRegressor
param_distributions = {
    'n_estimators': [100, 400, 800],
    'max_depth': [3, 6, 9]
    }

random_search = RandomizedSearchCV(XGBRegressor(enable_categorical=True, use_label_encoder=False, verbosity=0), param_distributions, cv=2, n_iter=10, n_jobs=-1, verbose=2)
random_search.fit(X, y)

print('Best Parameters: ')
print(random_search.best_params_)
print()

print('Best Estimator: ')
print(random_search.best_estimator_)
print()

print('Best Score: ')
print(random_search.best_score_)
print()

Fitting 2 folds for each of 9 candidates, totalling 18 fits

c:\Users\Yatha\AppData\Local\Programs\Python\Python311\Lib\site-packages\sklearn\model_selection\_search.py:320: UserWarning: The total space of parameters 9 is smaller than n_iter=10. Running 9 iterations. For exhaustive searches, use GridSearchCV.
  warnings.warn(

Best Parameters:
{'n_estimators': 100, 'max_depth': 3}

Best Estimator:
XGBRegressor(base_score=None, booster=None, callbacks=None,
             colsample_bylevel=None, colsample_bynode=None,
             colsample_bytree=None, device=None, early_stopping_rounds=None,
             enable_categorical=True, eval_metric=None, feature_types=None,
             gamma=None, grow_policy=None, importance_type=None,
             interaction_constraints=None, learning_rate=None, max_bin=None,
             max_cat_threshold=None, max_cat_to_onehot=None,
             max_delta_step=None, max_depth=3, max_leaves=None,
             min_child_weight=None, missing=nan, monotone_constraints=None,
             multi_strategy=None, n_estimators=100, n_jobs=None,
             num_parallel_tree=None, random_state=None, ...)

Best Score:
0.9776381254196167